<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header" id="header">
</div>
<div th:fragment="menu" id="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" th:href="@{/}">Team 2</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" th:href="@{/}">Home</a></li>
      <li><a href="#" th:href="@{/product/list}">Products Listing</a></li>
      <li><a href="#" th:href="@{/brand/index}">Brands Listing</a></li>
      <li><a href="#" th:href="@{/supplier/index}">Suppliers Listing</a></li>
      <li><a href="#" th:href="@{/staff/list}">Staff Listing</a></li>
      <li><a href="#" th:href="@{/inventory/list}">Inventory Listing</a></li>
      <li><a href="#" th:href="@{/logout}">Logout</a></li> 
    </ul>
  </div>
</nav>
</div>
<footer th:fragment="footer">
		<a href="Home" th:href="@{/}">Back to Home</a>
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>
			(c) I hate Thymeleaf movement, ISS, NUS 2020</small>
</footer>

</body>
</html>