<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Inventory Form</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
<h1>Inventory Details</h1>
	<form action="" th:object="${inventory}" th:action="@{/inventory/save}"
		method="POST" class="form-horizontal">
		<fieldset>
			<input type="hidden" th:field="*{id}" />
		</fieldset>
		<fieldset>
			Product Name
			<input list="products" th:field="*{productName}">
			<datalist id="products">
				<select>
					<option th:each="p:${productList}" th:value=${p.name}></option>
				</select>
			</datalist>
		</fieldset>
		<fieldset>
			Supplier Name
			<input list="suppliers" th:field="*{supplierName}">
			<datalist id="suppliers">
				<select>
					<option th:each="s:${supplierList}" th:value=${s.name}></option>
				</select>
			</datalist>
		</fieldset>
		<fieldset>
			Quantity in Stock: <input type="text" th:field="*{quantity}">
		</fieldset>
		<fieldset>
			Shelf Location: <input type="text" th:field="*{shelfLocation}">
		</fieldset>
		<fieldset>
		Reorder Level:<input type="text" th:field="*{reorderLvl}">
		</fieldset>
		<fieldset>
		Reorder Quantity:<input type="text" th:field="*{reorderQty}">
		</fieldset>
		<fieldset>
			Wholesale Price: <input type="text" th:field="*{wholesalePrice}">
		</fieldset>
		<fieldset>
			Retail Price: <input type="text" th:field="*{retailPrice}">
		</fieldset>
		<fieldset>
			Partner Price: <input type="text" th:field="*{partnerPrice}">
		</fieldset>
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
	<a href="InventoryList.html" th:href="@{/inventory/list}">Back to Inventory</a>
	
  <div th:replace="layout/layout.html :: footer"></div>

</body>
</html>