<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>ProductList</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
<h1>Product Listing</h1>
	<!-- Add Hyperlink -->
	<a href="ProductForm.html" th:href="@{/product/add}">Add Product</a>

	<h2 th:if="${not #lists.isEmpty(ProductList)}">Product List</h2>
	<table th:if="${not #lists.isEmpty(ProductList)}">
		<tr>
			<th>Product Id</th>
			<th>Product Name</th>
			<th>Part Number</th>
			<th>description</th>
			<th>dimension</th>
			<th>color</th>
			<th>Type</th>
			<th>Category</th>
			<th>SubCategory</th>
			<th>Brand</th>
			<th sec:authorize="hasRole('ADMIN')">Edit Product</th>
			<th sec:authorize="hasRole('ADMIN')">Delete Product</th>
		</tr>
		<tr th:each="product:${ProductList}">
			<td th:text=${product.id}>Product Id</td>
			<td th:text=${product.name}>Product Name</td>
			<td th:text=${product.partNumber}>Part Number</td>
			<td th:text=${product.description}>Product Description</td>
			<td th:text=${product.dimension}>Product Dimension</td>
			<td th:text=${product.color}>color</td>
			<td th:text=${product.type}>Type</td>
			<td th:text=${product.category}>Category</td>
			<td th:text=${product.subCategory}>SubCategory</td>
			<td th:text="${product.brand} ? ${product.brand.name} : 'Not Set'">Brand</td>
 			<td><a href="EditProduct.html"
				th:href="@{/product/edit/}+${product.id}" sec:authorize="hasRole('ADMIN')">Edit</a></td>
			<td><a href="DeleteProduct.html"
				th:href="@{/product/delete/}+${product.id}" sec:authorize="hasRole('ADMIN')">Delete</a></td>
		</tr>
	</table>

	 <br/>

  <div th:replace="layout/layout.html :: footer"></div>

</body>
</html>