<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ProductList</title>
</head>
<body>
<h1>Product Listing</h1>
	<!-- Add Hyperlink -->
	<a href="ProductForm.html" th:href="@{/product/add}">Add Product</a>

	<h2 th:if="${not #lists.isEmpty(ProductList)}">product List</h2>
	<table th:if="${not #lists.isEmpty(ProductList)}">
		<tr>
			<th>Product Id</th>
			<th>Product Name</th>
			<th>Part Number</th>
			<th>description</th>
			<th>dimension</th>
			<th>color</th>
			<th>Type</th>
			<th>Category</th>
			<th>SubCategory</th>
			<th>Brand</th>
			<th>Edit Product</th>
			<th>Delete Product</th>
		</tr>
		<tr th:each="product:${ProductList}">
			<td th:text=${product.id}>Product Id</td>
			<td th:text=${product.name}>Product Name</td>
			<td th:text=${product.partNumber}>Part Number</td>
			<td th:text=${product.description}>Product Description</td>
			<td th:text=${product.dimension}>Product Dimension</td>
			<td th:text=${product.color}>color</td>
			<td th:text=${product.type}>Type</td>
			<td th:text=${product.category}>Category</td>
			<td th:text=${product.subCategory}>SubCategory</td>
<!-- 			<td th:text=${product.brand.name}>Brand</td>
 -->			<td><a href="EditProduct.html"
				th:href="@{/product/edit/}+${product.id}">Edit</a></td>
			<td><a href="DeleteProduct.html"
				th:href="@{/product/delete/}+${product.id}">Delete</a></td>
		</tr>
	</table>

	 <br/>


</body>
</html>