<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
<h1>Form</h1>
	<form action="" th:object="${staff}" th:action="@{/staff/save}"
		method="POST" class="form-horizontal">
		<fieldset>
			<input type="hidden" th:field="*{staffId}" />
		</fieldset>
		<fieldset>
			Staff Name: <input type="text" th:field="*{staffName}">
		</fieldset>
	
		<fieldset>
		UserName:<input type="text" th:field="*{userName}">
		</fieldset>
		<fieldset>
		Password:<input type="text" th:field="*{password}">
		</fieldset>
		
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
	<a href="StaffList.html" th:href="@{/staff/list}">Back to Staff List</a>
			<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>