<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Supplier Form</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
	<h2>Supplier Form</h2>
	
	<form action="" th:object="${supplier}" th:action="@{/supplier/save}" method="POST">
		<fieldset>
			<input type="hidden" th:field="*{id}" />
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{name}">
		</fieldset>
		<fieldset>
			Email: <input type="text" th:field="*{email}">
		</fieldset>
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
			<a href="SupplierIndex.html" th:href="@{/supplier/index}">Back to Supplier List</a>
	
		<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>