<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Usage Form</title>
<style>

th, td {
  padding: 5px;
}

</style>
</head>
<body>
<header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <div style="padding-left: 50px; padding-right: 50px;">
	<h2>A new record has been created successfully!</h2>
	<p></p>
	<h3>Summary</h3>
	<table>
		<tr>
			<th>Record ID</th>
			<td th:text=${UsageForm.id}>Customer</td>
		</tr>
		<tr>
			<th>Customer</th>
			<td th:text=${UsageForm.customer}>Customer</td>
		</tr>
		<tr>
			<th>Car Registered</th>
			<td th:text=${UsageForm.car}></td>
		</tr>
		<tr>
		<tr>
			<th>Description</th>
			<td th:text=${UsageForm.description}>Description</td>
		</tr>
		<tr>
			<th>Date</th>
			<td th:text=${UsageForm.creationDate}>Creation Date</td>
		</tr>
	</table>
	<br>
			<p><b>Parts Used</b></p>
			
				<table class="table table-striped">
					<tr>
						<th>Inventory ID</th>
						<th>Product Name</th>
						<th>Brand</th>
						<th>Qty</th>
					</tr>
					<tr th:each="cart:${cartList}">
						<td th:text=${cart.inventory.id}></td>
  						<td th:text=${cart.inventory.product.name}></td>
						<td th:text="${cart.inventory.product.brand} ? ${cart.inventory.product.brand.name} : 'Not Set'"></td> 
						<td th:text=${cart.qty}></td>
					</tr>
				</table>
			
		
		
	<a href="#" th:href="@{/inventory/list}">Go back to inventory list</a>
</div>

<br/>

<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>