<html xmlns:th="https://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/styles/forms.css}" />
<link rel="stylesheet" th:href="@{/styles/QtyButtonStyle.css}"/>
<style>
th, td {
  padding: 5px;
  text-align: center;
}
</style>
<title>ProductList</title>
</head>
<body>
<div style="padding-bottom: 80px;">
	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div style="padding-left: 50px; padding-right: 50px;">
	<h2>Usage Form</h2>
	<br />
	<h2 th:if="${not #lists.isEmpty(cartlist)}">Part List</h2>
	<br />
	<table th:if="${not #lists.isEmpty(cartList)}"
		class="table table-striped" style="width: 1000px">
		<col width="10%">
		<col width="20%">
		<col width="15%">
		<col width="20%">
		<col width="15%">
		<col width="10%">
		<col width="10%">
		<thead>
		<tr>
			<th>Product Id</th>
			<th>Part Name</th>
			<th>Part Number</th>
			<th>Description</th>
			<th>Brand</th>
			<th>Qty</th>
			<th></th>
		</tr>
		</thead>
		<tr th:each="cart:${cartList}">
			<td th:text=${cart.inventory.id}>inventory Id</td>
			<td th:text=${cart.inventory.product.name}>Part Name</td>
			<td th:text=${cart.inventory.product.partNumber}>Part Number</td>
			<td th:text=${cart.inventory.product.description}>Part
				Description</td>
			<td
				th:text="${cart.inventory.product.brand} ? ${cart.inventory.product.brand.name} : 'Not Set'">Brand</td>
<!-- 			<td th:text=${cart.qty}>Qty</td> -->
			<td width="50px">
				<div class="quantitybtn">
					<input type="button" value="-" class="minus"
						th:attr="inventory_id = ${cart.inventory.id}" id="item_minus" /><input type="text" name="quantity" th:value="${cart.qty}"
						th:attr="inventory_id = ${cart.inventory.id}" id="item_input" min="1" max="" title="Qty" class="input-text" /><input type="button" value="+" class="plus"
						th:attr="inventory_id = ${cart.inventory.id}" id="item_plus" /> 
						<input type="hidden" name="inventoryId" th:value="${cart.inventory.id}" />
				</div>
			</td>
			<td style="padding: 13px"><a href="#" th:href="@{/UsageForm/remove/}+${cart.id}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlP5KUHwia9MiER09OFBNh9TBOr4VFYipC0w&usqp=CAU" class="remove" /></a></td>
		</tr>
	</table>
	<br />
	<form action="#" th:action="@{/UsageForm/addInventory}" method="POST">
		<button type="submit" class="btn btn-primary">Add Inventory Log</button>
	</form>
	<br />
	</div>
	<!-- 	<a href="InventoryForm.html" th:href="@{/inventory/list}">Add Inventory</a> -->
	<br />
	<div class="form-container">
		<form action="#" th:object="${UsageForm}"
			th:action="@{/UsageForm/save}" method="POST">
			<fieldset class="form-input-container" style="width: 500px">
				<label>Customer:</label> <input type="text" th:field="*{customer}">
			</fieldset>
			<fieldset class="form-input-container" style="width: 500px">
				<label>Car registered:</label> <input type="text" th:field="*{car}">
			</fieldset>
			<fieldset class="form-input-container" style="width: 500px; height: 200px">
					<label>Description:</label> <textarea rows="20" cols="46"
						th:field="*{description}" style="resize: none"></textarea>
			</fieldset>
			<br />
			<fieldset class="button-container">
<!-- 				<div class="btn btn-danger"> -->
<!-- 					<a href="InventoryList.html" th:href="@{/UsageForm/cancel}">Cancel</a> -->
<!-- 				</div> -->
				<button type="submit" class="btn btn-primary">Create Record</button>
				<button type="submit" class="btn btn-danger" th:formaction="@{/UsageForm/cancel}">Cancel</button>
			</fieldset>
		</form>
<!-- 		<form action="#" th:action="@{/UsageForm/cancel}" method="POST"> -->
<!-- 			<button type="submit" class="btn btn-danger">Cancel</button> -->
<!-- 		</form> -->
	</div>
	<br />
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
<script>
    
    window.onload = function () {
        let minusButtons = document.getElementsByClassName("minus");
        for (minusButton of minusButtons) {
            minusButton.addEventListener("click", QtyMinus);
        }

        let plusButtons = document.getElementsByClassName("plus");
        for (plusButton of plusButtons) {
            plusButton.addEventListener("click", QtyPlus);
        }
        
        let inputTexts = document.getElementsByClassName("input-text");
        for (inputText of inputTexts) {
        	inputText.addEventListener("change", QtyChange);
        }
    }

    function QtyMinus(event) {
        let elem = event.currentTarget;
        let inventoryId = elem.getAttribute("inventory_id");
		let qty = 1;
		let action = "minus";
        ChangeCartQty(inventoryId, {action, qty});
    }

    function QtyPlus(event) {
        let elem = event.currentTarget;
        let inventoryId = elem.getAttribute("inventory_id");
        let qty = 1;
        let action = "plus";
        ChangeCartQty(inventoryId, {action, qty});
    }
    
    function QtyChange(event) {
    	let elem = event.currentTarget;
        let inventoryId = elem.getAttribute("inventory_id");
        let qty = elem.value;
        let action = "change"
        ChangeCartQty(inventoryId, {action , qty});
    }
    
    function ChangeCartQty(inventoryId, { action, qty }) {
    	var xhr = new XMLHttpRequest();
		var token = document.querySelector('meta[name="_csrf"]').content;
		var header = document.querySelector('meta[name="_csrf_header"]').content;

        xhr.open("POST", "/UsageForm/ChangeCartQty", true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf8')
        xhr.setRequestHeader(header, token);
        
/*         let changeQty = document.getElementById("item_input").value;
 */        
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE) {
                // receive response from server
                if (this.status === 200 || this.status === 302) {
                    let data = JSON.parse(this.responseText);
                    if(data.message == "Reached maximum stock"){
                    	alert(data.message);
                        location.reload();
                    }
                    if (this.status === 200 && data.status == "success") {
                        console.log("Successful operation: " + data.status);
                        // Need to refresh current window for changes to show
                        location.reload();
                    }
                }
            } else {
                console.log("fail");
            }
        };
        
        xhr.send(JSON.stringify({
            "inventoryId": inventoryId,
            "action": action,
            "changeQty": qty
        }));
    }

</script>
</html>